body {
  background: url("https://images.unsplash.com/42/cA4aKEIPQrerBnp1yGHv_IMG_9534-3-2.jpg?dpr=2&fit=crop&fm=jpg&h=750&ixlib=rb-0.3.5&q=50&w=1450");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: helvetica;
}

.posts li {
  text-align: center;
  width: 30%;
  background-color: white;
  color: #006400;
  padding: 10px;
  margin: auto;
  list-style-type: none;
  opacity: 0.4;
  margin-bottom: 10px;
}

.blog-title {
  text-align: center;
  width: 30%;
  background-color: white;
  color: #006400;
  padding: 10px;
  margin: auto;
  opacity: 0.8;
  margin-bottom: 10px;
}

.blog-text {
  text-align: left;
  background-color: white;
  width: 50%;
  color: #006400;
  padding: 10px;
  margin: auto;
  opacity: 0.8;
  margin-bottom: 10px;
}

.nav-bar .blog-footer {
  display: inline-block;
  padding: 10px;
  border: 5px solid white;
  background-color: white;
  opacity: 0.8;
  margin-left: 5px;
  margin-right: 5px;
}

#box_model {
  margin-left: 25%;
  width: 50%;
}

#box_example {
  margin-left: 25%;
  width: 50%;
  border: 1px solid black;
}